
.idea/
.vscode/
*.iml
*.iws
*.ipr
.DS_Store
Thumbs.db
desktop.ini

**/target/
**/build/
backend/.mvn/wrapper/maven-wrapper.jar
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache

**/node_modules/
**/.nuxt/
**/.output/
**/.data/
**/.nitro/
**/.cache/
**/dist/
frontend/logs/
*.log

.env
.env.*
!.env.example
